{% extends 'account/base.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}

<a href="{% url 'add_pupil' %}">Добавить ученика</a>
<br>
<a href="{% url 'add_course' %}">Добавить курс</a>
<br>
<p>Список учеников</p>
<ul>
    {% for pupil in pupils %}
    <li><a href="{% url 'pupil_detail' pupil.id %}">{{ pupil.name }} {{ pupil.surname }}</a></li>
    {% endfor %}
</ul>

<p>Список курсов</p>
<ul>
    {% for cours in courses %}
    <li><a href="{% url 'cours_detail' cours.id %}">{{ cours.title }}</a></li>
    {% endfor %}
</ul>
<div class="calendar">
{{ calendar|safe }}
</div>

{% endblock %}